* {
  -webkit-text-size-adjust: none;
}

html {
  height: 100%;
  min-width: 335px;
  margin: 0 auto 0 auto;
  padding: 0;
}

#outerwrap {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0px 10px 0px 10px;
}

body {
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 90%;
  line-height: 145%;
  color: #000;
  background: #f3f3f3;
}

body > #outerwrap {
  height: auto;
  min-height: 100%;
}

#content {
  padding-top: 50px;
  padding-bottom: 48px;
  color: #000;
  /*margin: 10px;*/
}

#header {
  position: relative;
  max-width: 1024px;
  margin: 0 auto 0 auto;
  margin-bottom: -48px;
  height: 48px;
}

#footer {
  max-width: 100%;
  clear: both;
  position: relative;
  z-index: 10;
  height: 35px;
  margin-top: -41px;
}

#inner {
  padding: 10px;
  margin: 0px;
  background-color: white;
  box-shadow: 3px 3px 2px #888888;
  border-radius: 8px;
  /* margin-bottom: 10px; */
}

#innerhead {
  padding: 10px 20px;
  margin: 0px;
}

#innerfoot {
  padding: 10px;
  margin: 0px;
  line-height: 175%;
  font-size: 60%;
  background: url("img/bg.jpg") repeat-x scroll 0 -173px transparent;
  text-align: center;
}

.text {
  margin: 5px;
  padding: 10px;
}

.bigger {
  font-size: 200%;
}

p {
  padding: 2px 10px;
  margin: 10px 0 10px 5px;
  line-height: 145%;
}

.table-row {
  display: block;
  clear: left;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .sw-from-finland-logo {
    height: 50px;
    float: right;
  }
}
@media (max-width: 768px) {
  .sw-from-finland-logo {
    float: left;
    margin: 15px;
  }
}

.imgRight {
  float: right;
  margin: 15px;
  clear: both;
  /*  add the following line to create a shadow behind images  */
  /*  -webkit-box-shadow: 0 0 15px #000; */
}

.imgLeft {
  float: left;
  margin: 15px;
  /*  add the following line to create a shadow behind images  */
  /*  -webkit-box-shadow: 0 0 15px #000; */
}

.imgCompany {
  width: 80px;
  margin: 8px;
  vertical-align: middle;
}

.figureLeft {
  float: left;
  margin: 15px;
  clear: both;
  border: 5px solid #dadada;
  /*  add the following line to create a shadow behind images  */
  /*  -webkit-box-shadow: 0 0 15px #000; */
}

.ownLine {
  clear: both;
}

.nearAbove {
  margin-top: 0px;
  margin-bottom: 0px;
}

#navButtons ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tabs li {
  /* Makes a horizontal row */
  float: left;

  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative;
}
.tabs a {
  /* Make them block level
     and only as wide as they need */
  float: left;
  padding: 10px 18px;
  text-decoration: none;

  /* Default colors */
  color: black;
  background: #ddc385;

  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .active a {
  /* Colors when tab is active */
  background: white;
  color: black;
}
.tabs li:before,
.tabs li:after,
.tabs li a:before,
.tabs li a:after {
  /* All pseudo elements are
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after,
.tabs li:last-child a:after,
.tabs li:first-child:before,
.tabs li:first-child a:before,
.tabs .active:after,
.tabs .active:before,
.tabs .active a:after,
.tabs .active a:before {
  content: "";
}
.tabs .active:before,
.tabs .active:after {
  background: white;

  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.tabs li:before,
.tabs li:after {
  background: #ddc385;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;
}
.tabs li:after {
  right: -10px;
}
/* Circles */
.tabs li a:after,
.tabs li a:before {
  width: 20px;
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f3f3f3;

  /* Circles over squares */
  z-index: 2;
}
.tabs .active a:after,
.tabs .active a:before {
  background: #ddc385;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: #f3f3f3;
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}
